/* our custom styles */

/* TinyMCE templates */

// image-grid-2x2:
.image-grid-2x2 {
    padding: 0;
    margin: 0 0 $grid-gutter-width 0;
    list-style: none;
    @include make-row();

    > li {
        @include make-col(12);
        @include make-col(6);
        margin-top: $grid-gutter-width

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

/* This style allows images / videos to scale 100% width / height. */
.scaleimage, .autoscale, .portaltype-picture #content-core img, .portaltype-Picture #content-core img {
  width: 100%;
  height: 100%;
}

/* By default, images inside article figures get the 100% treatment. */
figure img {
  width: 100%;
  height: 100%;
}

/* Captions of article figures are centered and grey. */
figure figcaption {
  text-align: center;
  color: #767676;
}

/* Reduce prominence of contents listing on view templates of common portal types. */
.template-view.portaltype-picture .contentsListing,
.template-view.portaltype-document .contentsListing,
.template-newsitem_view.portaltype-news-item .contentsListing,
 {
  font-size: 75%;
}

/* Avoid pictures stacking up in listings. */
.template-listing_view #content-core .entries article {
  clear: both;
}

/* Icon for content type Picture defined in manuelamador.policy. */
//body#visual-portal-wrapper.pat-plone .outer-wrapper {
	//.contenttype-picture:before {		content: '\e810';}
	//.contenttype-Picture:before {		content: '\e810';}
//}

/* Reduce weird distance between first two footer portlets. */
#portal-footer .doormat p {
	margin-bottom: 0;
}

/* Hide title and byline in front page. */
.section-everything header h1,
.section-everything header div#viewlet-below-content-title, {
  display: None;
}

/* Hide byline in collection page. */
.portaltype-collection.template-listing_view header div#viewlet-below-content-title, {
  display: None;
}

/* Article asides. */
#tinymce aside, #content-core aside {
  display: block;
  font-style: italic;
  margin-left: 1em;
  margin-right: 1em;
  //@media (min-width: $grid-float-breakpoint) {
    //margin-left: 3em;
    //margin-right: 3em;
  //}
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--bs-secondary);
}
