//// VARIABLES
// ... add your variables here

$enable-roboto-webfont: true;
$roboto-base-path: "/++theme++barceloneta/roboto/";
$primary: #0a3057;
$footer-bg: #f4f4f4;
$footer-color: #333333;

//// IMPORTS
// Import barceloneta files from node_modules --load-path=node_modules
@import "@plone/plonetheme-barceloneta-base/scss/barceloneta.scss";


//// STYLES
// ... add your styles here

@import "custom.scss";
