[buildout]
# Directory common to all deployments.
deployment-basedir = {{ deployments_basedir }}

# Place where this deployment keeps its files.
deployment-dir = {{ deployment_target_dir }}

# Place where this deployment keeps its data.
data-dir = {{ deployment_data_dir }}

extends = 
    base.cfg

# If you change your Plone version, you'll also need to update
# the repository below.

zeo-address = ${buildout:data-dir}/var/zeosocket
# Zope client 1
http-address = {{ item.value.zserver_address }}
webdav-address = {{ item.value.webdav_address }}
webdav-source-port = {{ item.value.webdav_address.split(":")[1] }}

zserver-threads = {{ item.value.threads }}

# temporarily disabling the
# site-id = Rudd-O.com

# If you try to start Zope as root, it will change user id to run as
# the effective user specified here. This user id must own the var directory
# of your buildout.
effective-user = {{ process_user }}

debug-mode = {{ item.value.debug_mode }}
