[theme]
title = manuelamador.name
description = The Plone theme for manuelamador.name
preview = preview.png
rules = /++theme++manuelamador.name/rules.xml
prefix = /++theme++manuelamador.name
doctype = <!DOCTYPE html>

enabled-bundles =
disabled-bundles =

production-css = /++theme++manuelamador.name/++unique++d460bdb3d00922a1affe5fc2f520b7a3085878a7/styles/theme.min.css
tinymce-content-css = /++theme++manuelamador.name/++unique++d460bdb3d00922a1affe5fc2f520b7a3085878a7/styles/theme.min.css

# production-js = /++theme++manuelamador.name/js/theme-compiled.js

#[theme:overrides]
#directory = template-overrides

[theme:parameters]
# portal_url = python: portal.absolute_url()
